.lineit{
	display: inline;
}

.frogLane{
	position:relative;
	width:500px;
	height:30px;
	/*margin:10px;*/
	background-color: gray;
	margin:5px;
}
.frogHolder{
	position: absolute;
	width:30px;
	height:inherit;
	/*border: 3px solid #8AC007;*/
	display: inline-block;
}
.frogLabel{
	position: absolute;
	width:7px;
	height:7px;
	/*background-color: red;*/
	z-index: 2;
	top:13px;
	right:15px;
}

.frogLabel.red{
	background-color: red;
}
.frogLabel.blue{
	background-color: blue;
}

.frogImg{
	width:inherit;
	height:inherit;
}
li{
	margin-left:35px
}
.person-name{
	text-decoration: underline;
}

