<html ng-app="racingFrogs">

<head>
    <meta charset="UTF-8">
    <title>Racing Frogs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">

</head>

<body ng-controller="MainController as vm">
    {{240+280}}
    <br/>{{vm.raceId}}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">{{vm.racingTitle}}
            </div>
            <div class="panel-body">
                <!--<div ng-repeat="frog in controller.raceSet" class="frogLane">-->
                <div ng-repeat="frog in vm.racingFrogs" class="frogLane">
                    {{frog.name}}
                    <div class="frogHolder" style="left:{{frog.posX}}%">
                        <img src="http://froglegs.org/ediblefrog2.gif" class="frogImg">
                        <div class="frogLabel" style="background-color:{{frog.color}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div ng-controller="AppCtrl-StartRaceBtn">
                    <span class="btn btn-default" ng-click="vm.race();disableClick()" ng-hide="isDisabled" ng-model="isDisabled">Start Race</span>
                    <!--http://stackoverflow.com/questions/16813945/how-to-add-many-functions-in-one-ng-click-->
                    <!--<button ng-click="disableClick()" ng-disabled="isDisabled" ng-model="isDisabled">Disable ng-click</button>-->
                <div ng-controller="AppCtrl-NewRaceDayBtn">   
                    <span class="btn btn-default" ng-click="vm.race()" ng-disabled="isDisabled" ng-model="isDisabled">Start Race</span>
                </div>
            </div>
        </div>
    </div>




    <div class="panel panel-primary">
        <div class="panel-heading">
            Fun with Joe and Bob
        </div>
        <div class="panel-body">
            <p>
                Joe has {{ vm.joe.cash | currency}}
            </p>
            <p>
                Bob has {{ vm.bob.cash | currency }}
            </p>
            <p>
                The bank has {{ vm.bank | currency }}
            </p>
        </div>

        <form name="myForm">
            Place
            <input type="text" name="betAmount" ng-model="vm.joe.betAmount"> on
            <!--<label for="betSelect">Make a choice:</label>-->
            <select name="betSelect" id="betSelect" ng-options="frog.name for frog in vm.racingFrogs" ng-model="vm.joe.selectedBet"></select>
        </form>



        <div class="panel-footer">
            <span class="btn btn-default" ng-click="vm.joe.giveCash(vm.joe.betAmount)">Set Your Bet</span>
            <span class="btn btn-default" ng-click="vm.giveMoneyToJoe()">Give $10 to Joe</span>
            <span class="btn btn-default" ng-click="vm.receiveMoneyFromBob()">Receive $5 from Bob</span>
        </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.6/angular.min.js"></script>
    <script src="app.js"></script>
</body>

</html>